.floor-plan {
    background-color:#D9D9D9;
    /* Your default room styling */
  }

.room{
    background-color: #D9D9D9;
}
  
.room.active {
    background-color: yellow; /* Change background color for active room */
    color: #D9D9D9; /* Adjust text color for better contrast */
  }





.room {
    width: 100px;
    height: 100px;
    background-color: #A2B6DE;
    margin: 10px;
    text-align: center;
    line-height: 100px;
  }
  
.room.active {
    background-color: yellow; /* Change the background color to indicate the active room */
  } 
